%html
  %head
    %script{ type: 'text/javascript', src: '/js/jquery/jquery-1.4.2.js' } 
    %link{ rel: "stylesheet", href: "/stylesheets/jersey.css"}
    %title Jersey Shore
  %body
    #wrapper
      =body 
    
