%script{ type: 'text/javascript', src: '/js/Socket.IO/socket.io.js' }
%script{ type: "text/javascript", src: "/js/node_client.js" }
  
:javascript
  var ioClient = null;
  $(function() {
    ioClient = new IoClient("localhost", $("#messages"));  
  });
  
%h1#title "Jersey Shore" Tweet Roll 
#messages
#shades
